.welcome {
	text-align: center;
	border-bottom: 4px solid #5c86a0;
	margin-top: 5rem;
	padding-bottom: 5rem;
	margin-bottom: 5rem;
}

.welcomeimg {
	width: 325px;
}

.carouselimg {
	max-height: 400px;
	width: auto;
	object-fit: contain;
	object-position: center;
}

.carousel {
	margin-bottom: 2rem;
	height: 400px;
	width: auto;
	object-fit: contain;
	object-position: center;
}

.intro {
	text-align: center;
	align-content: center;
}

.test {
	padding-top: 5rem;
}
